.vscode/
.idea/
*.cache
*.log
node_modules/
.DS_Store
Thumbs.db
* text=auto

*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage/
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
/resources/views/theme

storage/debugbar/*.json

composer.lock
package-lock.json
yarn.lock

/storage/debugbar/
phpmyadmin
phpunit.xml
postcss.config.js
tailwind.config.js
.editorconfig

composer-setup.php
public/storage/*
public/storage